footer.footer
    .container
        .content
            .social
                a(href="#").social__item
                    img(src="./img/social-1.svg", alt="").social__img
                a(href="#").social__item
                    img(src="./img/social-2.svg", alt="").social__img
                a(href="#").social__item
                    img(src="./img/social-3.svg", alt="").social__img