.form-wrapper
    form.form
        .exit
        h2.form__title ПОДПИШИТЕСЬ НА ПОЛЕЗНУЮ РАССЫЛКУ ОТ <b>SWISSBOX+</b>
        input(type="text" placeholder='Имя' name="name").form__input
        input(type="tel" placeholder='Телефон' name="phone").form__input
        input(type="email" placeholder='Email' name="email").form__input
        p.form__errors
        p.form__status
        button.green-button Отправить