main.slider(data-slider="1")
    .slide
        .background-green
        .container
            .content
                .content-wrapper.slide_info-wrapper.slide_info-wrapper_active(data-content="1")
                    .slide__wrapper
                        h1.title Склад для хранения вещей <b>Swissbox+</b> в&nbsp;Иваново
                        p.subtitle <b>«Smartbox+»</b> предоставляет услуги аренды склада в центральной части Иваново. 
                                | Мы&nbsp;предлагаем боксы под индивидуальные склады для физических и юридических лиц объемом от 1 м2 до 40 м2.
                .content-wrapper.slide_info-wrapper(data-content="2")
                    .slide__wrapper
                        h1.title Сделайте свою квартиру просторнее с нами!
                        p.subtitle <b>«Smartbox+»</b> предлагает в аренду удобные теплые склады для хранения личных вещей, 
                                | а также мебели на время ремонта или переезда.

                .content-wrapper.slide_info-wrapper(data-content="3")
                    .slide__wrapper
                        h1.title Склад для бизнеса
                        p.subtitle <b>«Smartbox+»</b> — это гибкое решение для бизнеса по организации хранения товаров, 
                                | оборудования, архивов и многого другого.
                .content-wrapper
                    button.green-button.slider__button Хочу быть в курсе
                    .slider-controls
                            input(type="radio" name='controls' value='1' id='radio-1' checked).slider-controls__button
                            label(for="radio-1").radio-label
            
                            input(type="radio" name='controls' value='2' id='radio-2').slider-controls__button
                            label(for="radio-2").radio-label
                        
                            input(type="radio" name='controls' value='3' id='radio-3').slider-controls__button
                            label(for="radio-3").radio-label


